# Imports

In [2]:
import pandas as pd 
from random import randint
from datetime import date, timedelta
import random
from numpy import NaN

### Function for generating random dates

In [3]:
def random_date(start_date: date, end_date: date):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    return start_date + timedelta(days=random_number_of_days)

In [540]:

customer_df = pd.read_csv("C:\\Users\\ashis\\OneDrive\\Desktop\\project\\customer.csv")
customer_df

,citizenship number,pan number,full name,date of birth,gender,email,phone,occupation,city,district,state,country,address
0,73537-497-86,76249-52,Jinisha Shrestha,1988-08-18,female,jinishashrestha662@gmail.com,9865094750,pilot,gaurigunj,chitwan,bagmati province,nepal,"gaurigunj, chitwan, bagmati province, nepal"
1,97298-891-50,70993-75,Ramsaran Basnet,1994-02-06,male,ramsaranbasnet117@gmail.com,9807133903,journalist,patiyani,chitwan,bagmati province,nepal,"patiyani, chitwan, bagmati province, nepal"
2,22950-423-88,91623-53,Sujan Gurung,1994-01-27,male,sujangurung092@gmail.com,9846713843,driver,patiyani,chitwan,bagmati province,nepal,"patiyani, chitwan, bagmati province, nepal"
3,10790-729-88,09666-88,Setimaya Tamang,1979-08-21,female,setimayatamang520@gmail.com,9845142417,cook,tadi,chitwan,bagmati province,nepal,"tadi, chitwan, bagmati province, nepal"
4,14132-832-40,89567-62,Til Bahadhur Bohara,1980-06-20,male,tilbahadhurbohara468@gmail.com,9857042059,secretary,gaurigunj,chitwan,bagmati province,nepal,"gaurigunj, chitwan, bagmati province, nepal"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,40951-842-52,46796-99,Dhan Raj Gurung,1979-09-05,male,dhanrajgurung628@gmail.com,9805777455 9812735540,waiter,muglin,chitwan,bagmati province,nepal,"muglin, chitwan, bagmati province, nepal"
640,72150-263-88,95055-09,Sagar Basnet,1988-03-03,male,sagarbasnet478@gmail.com,9862555582 9865039984,journalist,bharatpur,chitwan,bagmati province,nepal,"bharatpur, chitwan, bagmati province, nepal"
641,08360-275-13,43469-99,Bikash Thapa,1997-04-24,male,bikashthapa779@gmail.com,9817487631 9811159036,farmer,gaurigunj,chitwan,bagmati province,nepal,"gaurigunj, chitwan, bagmati province, nepal"
642,79094-104-89,00446-77,Dal Bahdaur Ale,1968-04-02,male,dalbahdaurale455@gmail.com,9811273176 9826200217,fireman,patiyani,chitwan,bagmati province,nepal,"patiyani, chitwan, bagmati province, nepal"
643,24144-193-69,46409-69,Baal Krishna Kandel,1994-09-07,male,baalkrishnakandel491@gmail.com,9841479330 9855051767,judge,kalika,chitwan,bagmati province,nepal,"kalika, chitwan, bagmati province, nepal"

In [ ]:
customer_df.columns

In [ ]:

customer_df["citizenship number"] = ["{start}-{mid}-{end}".format(
        start = ''.join(["{}".format(randint(0, 9)) for num in range(0, 5)]),
        mid =  ''.join(["{}".format(randint(0, 9)) for num in range(0, 3)]),
        end = ''.join(["{}".format(randint(0, 9)) for num in range(0, 2)])
        ) for row in customer_df["citizenship number"]]
customer_df["citizenship number"] = [row.strip() for row in customer_df["citizenship number"]]
customer_df["citizenship number"]

In [ ]:
customer_df["pan number"] = ["{start}-{end}".format(
        start = ''.join(["{}".format(randint(0, 9)) for num in range(0, 5)]),
        end = ''.join(["{}".format(randint(0, 9)) for num in range(0, 2)])
        ) for row in customer_df["pan number"]]
customer_df["pan number"] = [row.strip() for row in customer_df["pan number"]]
customer_df["pan number"]

In [ ]:
customer_df["full name"] = [" ".join(full_name.split()).title() for full_name in customer_df["full name"]]
customer_df["full name"]

In [ ]:

customer_df["date of birth"] = [random_date(start_date=date(1960, 1, 1), end_date=date(2000, 1, 15)) for row in customer_df["date of birth"]]
customer_df["date of birth"]

In [ ]:
customer_df["gender"] = customer_df["gender"].str.lower()
customer_df["gender"]

In [ ]:
customer_df["email"] = customer_df.apply(lambda row: "{text}{rand_num}@gmail.com".format(
    text = ''.join(row["full name"].split()).lower(),
    rand_num = ''.join(["{}".format(randint(0, 9)) for num in range(0, 3)]),
), axis="columns")

customer_df["email"]

In [ ]:
customer_df.columns

In [ ]:
customer_df["phone"] = ["{value}".format(value = v).replace("/", " ") for v in customer_df["phone"]]
customer_df["phone"]

In [ ]:
occupation = [
        'actor',
        'baker',
        'butcher',
        'carpenter',
        'cook',
        'doctor',
        'driver',
        'engineer',
        'farmer',
        'fireman',
        'fireworker',
        'fisherman',
        'gardener',
        'goldsmith',
        'hairdresser',
        'journalist',
        'judge',
        'lawyer',
        'mason',
        'mechanic',
        'nurse',
        'painter',
        'pilot',
        'plumber',
        'policeman',
        'postman',
        'secretary',
        'singer',
        'soldier',
        'teacher',
        'waiter',
    ]

customer_df["occupation"] = [occupation.__getitem__(random.randrange(0, 31)) for row in customer_df["occupation"]]
customer_df["occupation"]

In [ ]:
city= [
    "bharatpur",
    "narayangarh",
    "patiyani",
    "sardanagar",
    "muglin",
    "kurintar",
    "ramnagar",
    "rampur",
    "mangalpur",
    "bojhad",
    "baseni",
    "tadi",
    "jutpani",
    "bhoteni",
    "kalika",
    "parsa",
    "bhandara",
    "lother",
    "gaurigunj",
    "kamalnagar",
    "shivanagar",
    "shivaghat",
    "sauraha",
]
customer_df["city"] = [city.__getitem__(random.randrange(0, 23)) for row in customer_df["city"]]
customer_df["city"]

In [ ]:
customer_df["district"] = ["chitwan" for row in customer_df["district"]]
customer_df["district"]

In [ ]:
customer_df["state"] = ["bagmati province" for row in customer_df["state"]]
customer_df["state"]

In [ ]:
customer_df["country"] = "nepal"
customer_df["country"]

In [ ]:
customer_df["address"] = customer_df["city"] + ", " + customer_df["district"] + ", " + customer_df["state"] + ", "+ customer_df["country"]
customer_df["address"]

In [ ]:
customer_df.to_csv(path_or_buf="C:\\Users\\ashis\\OneDrive\\Desktop\\project\\customer.csv", index=False)

# Scheme Csv

In [541]:
scheme_df = pd.read_csv("C:\\Users\\ashis\\OneDrive\\Desktop\\project\\scheme.csv")
scheme_df.head()

     scheme name                                        description
0        Monsoon                           It falls on rainy season
1       New Year                    It falls around Nepali New Year
2  Dashain Tihar   It falls around Dashain, Tihar and ends on Chath
3         Winter                         It occurs in winter season
4        Regular  This is regular scheme or rather say when ther...

In [ ]:
# scheme_df.drop(['Unnamed: 0'], axis="columns", inplace=True)

In [ ]:
scheme_df.to_csv(path_or_buf="C:\\Users\\ashis\\OneDrive\\Desktop\\project\\scheme.csv", index=False)

In [15]:
vehicle_df = pd.read_csv("C:\\Users\\ashis\\OneDrive\\Desktop\\project\\vehicle.csv")
vehicle_df.head()

,vehicle model,color,chasis number,engine number,registration number,key number,battery number,mfd year
0,sxl 150cc,blue,MET0002JAYF001104,M440M3045249,Pra 3-02-008 Pa 7184,1234,M6A1N267960,2019
1,storm 125cc,matt black,MET0001CAZA013282,M912M3025684,Pra 3-02-015 Pa 8923,1235,M6A1N267959,2019
2,sxl 125cc,matt red,MET0002EAYL001310,M449M3239710,Pra 3-02-013 Pa 9684,1236,M6A1N267958,2019
3,sxl 125cc,matt red,MET0002EAYM001352,M449M3240708,Pra 3-02-014 Pa 5437,2463,M6G9M210094,2019
4,sr 125cc,blue,MET0003BAZB002492,M912M3026069,Pra 3-02-015 Pa 9939,2464,M6L0N177056,2019

In [ ]:
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x : x.lower().replace("-", " "))
vehicle_df["vehicle model"]

In [ ]:
vehicle_df["color"] = vehicle_df["color"].apply(lambda x: x.lower())
vehicle_df["color"]

In [ ]:
vehicle_df["registration number"] = vehicle_df["registration number"].apply(lambda x: x.title())
vehicle_df["registration number"].values

In [ ]:
vehicle_df["registration number"] = vehicle_df["registration number"].str.replace("State", "Pra")

In [ ]:
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x: " ".join(x.split()))

In [ ]:
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x: x.replace("vespa", ""))
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x: x.replace("aprilia", ""))
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x: x.replace("aprialia", ""))

In [ ]:
vehicle_df["vehicle model"] = vehicle_df["vehicle model"].apply(lambda x: x.strip())

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "lx", "vehicle model"] = "lx 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "lx125", "vehicle model"] = "lx 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "lx 125", "vehicle model"] = "lx 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125lx", "vehicle model"] = "lx 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "lx125cc", "vehicle model"] = "lx 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "lx 125 cc", "vehicle model"] = "lx 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "125vxl", "vehicle model"] = "vxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125 vxl", "vehicle model"] = "vxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl125", "vehicle model"] = "vxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl 125", "vehicle model"] = "vxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl125cc", "vehicle model"] = "vxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl 125 cc", "vehicle model"] = "vxl 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "150vxl", "vehicle model"] = "vxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "150 vxl", "vehicle model"] = "vxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl150", "vehicle model"] = "vxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl 150", "vehicle model"] = "vxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl150cc", "vehicle model"] = "vxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl 150 cc", "vehicle model"] = "vxl 150cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "125sxl", "vehicle model"] = "sxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125 sxl", "vehicle model"] = "sxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl125", "vehicle model"] = "sxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl 125", "vehicle model"] = "sxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl125cc", "vehicle model"] = "sxl 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl 125 cc", "vehicle model"] = "sxl 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "150sxl", "vehicle model"] = "sxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "150 sxl", "vehicle model"] = "sxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl150", "vehicle model"] = "sxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl 150", "vehicle model"] = "sxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl150cc", "vehicle model"] = "sxl 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl 150 cc", "vehicle model"] = "sxl 150cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "125sxlmatte", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125sxl matte", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125 sxl matte", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte125", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte 125", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl matte 125", "vehicle model"] = "sxl matte 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte125cc", "vehicle model"] = "sxl matte 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "150sxlmatte", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "150sxl matte", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "150 sxl matte", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte150", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte 150", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxl matte 150", "vehicle model"] = "sxl matte 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sxlmatte150cc", "vehicle model"] = "sxl matte 150cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "elegante", "vehicle model"] = "elegante 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "elegante150", "vehicle model"] = "elegante 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "elegante 150", "vehicle model"] = "elegante 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "elegante150cc", "vehicle model"] = "elegante 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "vxl 150 elegant", "vehicle model"] = "elegante 150cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "strom", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "125cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "storm", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "strom sr 125cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "strom 125cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "strom125cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "storm125cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "storm 125 cc", "vehicle model"] = "storm 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "storm12cc", "vehicle model"] = "storm 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 125cc storm", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 125 storm", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr125", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 125", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr125cc", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 125 cc", "vehicle model"] = "sr 125cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr storm 125cc", "vehicle model"] = "sr 125cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "sr150", "vehicle model"] = "sr 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "150cc", "vehicle model"] = "sr 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 150", "vehicle model"] = "sr 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr150cc", "vehicle model"] = "sr 150cc"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 150 cc", "vehicle model"] = "sr 150cc"

In [ ]:
vehicle_df.loc[vehicle_df["vehicle model"] == "sr150cc race", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "race 150", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "race 150cc", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "race 150cc", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr150race", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr race", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 150 race", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 150cc(race)", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr 150(race)", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr125cc", "vehicle model"] = "sr 150cc race"
vehicle_df.loc[vehicle_df["vehicle model"] == "sr race 150cc", "vehicle model"] = "sr 150cc race"

In [ ]:
vehicle_df["vehicle model"].value_counts()

In [ ]:
vehicle_df.to_csv(path_or_buf="C:\\Users\\ashis\\OneDrive\\Desktop\\project\\vehicle.csv", index=False)

# Purchase Csv

In [4]:
purchase_df = pd.read_csv("C:\\Users\\ashis\\OneDrive\\Desktop\\project\\purchase.csv")
purchase_df

,invoice number,purchase date,price,vendor name,vendor address,vehicle id
0,6982440,2019-01-01,370000.0,Dugar Brothers & Sons,Kathmandu,645
1,1244209,2019-01-04,255000.0,Dugar Brothers & Sons,Kathmandu,646
2,9194301,2019-01-05,330000.0,Dugar Brothers & Sons,Kathmandu,647
3,9004286,2019-01-05,330000.0,Dugar Brothers & Sons,Kathmandu,648
4,8216776,2019-01-05,260000.0,Dugar Brothers & Sons,Kathmandu,649
...,...,...,...,...,...,...
639,3609708,2020-12-20,260000.0,Dugar Brothers & Sons,Kathmandu,1284
640,9096993,2020-12-20,290000.0,Dugar Brothers & Sons,Kathmandu,1285
641,2130708,2020-12-20,260000.0,Dugar Brothers & Sons,Kathmandu,1286
642,7586267,2020-12-27,260000.0,Dugar Brothers & Sons,Kathmandu,1287
643,9812818,2020-12-28,310000.0,Dugar Brothers & Sons,Kathmandu,1288

In [ ]:
purchase_df.drop(labels=["Unnamed: 0", "Unnamed: 0.1"], axis="columns", inplace=True)

In [ ]:
purchase_df["purchase date"] = [random_date(start_date=date(2019, 1, 1), end_date=date(2020, 12, 30)) for row in range(0, 644)]
purchase_df["purchase date"]

In [ ]:
purchase_df["invoice number"] = [random.randrange(1000000, 9999999) for row in range(0, 644)]
purchase_df["invoice number"]

In [ ]:
purchase_df.sort_values(by="purchase date", ascending=True, inplace=True)
purchase_df.describe()

In [ ]:
purchase_df["vendor name"] = "Dugar Brothers & Sons"
purchase_df["vendor name"]

In [ ]:
purchase_df["vendor address"] = "Kathmandu"
purchase_df["vendor address"]

In [ ]:
purchase_df["vehicle id"] = [i+1 for i in range(0, 644)]
purchase_df["vehicle id"]

In [16]:
prices = {
    "lx 125cc": 250000.00,
    "sr 125cc": 260000.00,
    "storm 125cc": 255000.00,
    "sr 150cc": 290000.00,
    "vxl 125cc": 310000.00,
    "sxl 125cc": 330000.00,
    "sr 150cc race": 300000.00,
    "vxl 150cc": 350000.00,
    "sxl 150cc": 370000.00,
    "elegante 150cc": 390000.00,
    "notte 125cc": 250000.00,
    "sxl matte 125cc": 332000.00,
}
purchase_df["price"] = [prices.get(row, 0.00) for row in vehicle_df["vehicle model"]]

In [17]:
purchase_df.to_csv(path_or_buf="C:\\Users\\ashis\\OneDrive\\Desktop\\project\\purchase.csv", index=False)

# Sale Csv

In [20]:
sale_df = pd.read_csv("C:\\Users\\ashis\\OneDrive\\Desktop\\project\\sale.csv")
sale_df.head()

,invoice number,challan number,sale date,amount,discount,payment mode,finance amount,exchange amount,customer id,scheme id,vehicle id
0,7537601,304,2019-02-23,379000.0,5000.0,"Cash, Cheque and E-Banking",100000.0,70000.0,645,4,645
1,4484843,265,2019-02-26,264000.0,5000.0,E-Banking,0.0,70000.0,646,3,646
2,6571683,975,2019-02-21,339000.0,5000.0,Cash,0.0,60000.0,647,4,647
3,5155075,569,2019-02-07,339000.0,5000.0,Cash and Cheque,140000.0,90000.0,648,1,648
4,9050687,431,2019-02-23,269000.0,0.0,Cash,0.0,0.0,649,5,649

In [ ]:
sale_df["invoice number"] = [random.randrange(1000000, 9999999) for row in range(0, 644)]
sale_df["invoice number"]

In [ ]:
sale_df["challan number"] = [random.randrange(1, 999) for row in range(0, 644)]
sale_df["challan number"]

In [ ]:
def random_sale_date(date_string):
    y, m, d = date_string.split("-")
    return random_date(date(int(y), int(m), int(d)), date(int(y), int(m), int(d)) + timedelta(60))

sale_df["sale date"] = [random_sale_date(date_) for date_ in purchase_df["purchase date"]]
sale_df["sale date"]

In [ ]:
sale_df["customer id"] = [i for i in range(1, 645)]
sale_df["customer id"]

In [ ]:
sale_df["vehicle id"] = [i for i in range(1, 645)]
sale_df["vehicle id"]

In [ ]:
sale_df.drop(" ", axis="columns", inplace=True)
sale_df

In [ ]:
payment_modes = {
    0: "Cash",
    1: "Cheque",
    2: "E-Banking",
    3: "Cash and Cheque",
    4: "Cash and E-Banking",
    5: "Cheque and E-Banking",
    6: "Cash, Cheque and E-Banking",
}

sale_df["payment mode"] = [payment_modes.get(randint(0, 6)) for row in sale_df["payment mode"]]
sale_df["payment mode"]

In [ ]:
sale_df["scheme id"] = [randint(1, 5) for row in sale_df["scheme id"]]
sale_df["scheme id"]

In [8]:
finance_amounts = {
    0: 100000.00,
    1: 150000.00,
    2: 130000.00,
    3: 140000.00,
    4: 120000.00,
}

sale_df["finance amount"] = [finance_amounts.get(randint(0, 10), 0.00) for row in sale_df["finance amount"]]
sale_df["finance amount"]

0      100000.0
1           0.0
2           0.0
3      140000.0
4           0.0
         ...
639         0.0
640         0.0
641    140000.0
642         0.0
643    100000.0
Name: finance amount, Length: 644, dtype: float64

In [9]:
exchange_amounts = {
    0: 40000.00,
    1: 50000.00,
    2: 60000.00,
    3: 70000.00,
    4: 80000.00,
    5: 90000.00,
    6: 100000.00,
    7: 110000.00,
}

sale_df["exchange amount"] = [exchange_amounts.get(randint(0, 15), 0.00) for row in sale_df["finance amount"]]
sale_df["exchange amount"]

0      70000.0
1      70000.0
2      60000.0
3      90000.0
4          0.0
        ...
639        0.0
640    70000.0
641        0.0
642        0.0
643    40000.0
Name: exchange amount, Length: 644, dtype: float64

In [11]:
sale_df["discount"] = 5000.00
sale_df.loc[sale_df["scheme id"] == 5, "discount"] = 0.00

In [18]:
sale_df["amount"] = purchase_df["price"] + 9000

In [19]:
sale_df.to_csv(path_or_buf="C:\\Users\\ashis\\OneDrive\\Desktop\\project\\sale.csv", index=False)